@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root
{
    /* --sidepanel-width: 7.5rem; */
}


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #fff;
}

.container
{
    /* display: grid; */
    /* grid-template-columns: 7.5rem auto-fit; */
    /* grid-row: 2; */
    display: flex;

}

.side-panel
{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 10rem;
    background-color: #124E86;
    padding: 20px 0px 0px 0px;
    /* position: fixed; */
}

.nav-item
{
    padding: 5px 0px 5px 10px;
    list-style: none;
}

.nav-item:hover
{
    background-color: #0e4170;
}

.nav-item > a
{
    text-decoration: none;
    color: #b6b6b6;
}


.active > a
{
    color:#fff;
}

h1
{
    padding: 10px;
    color: #208AEC;
}

h2
{
    padding: 10px;
    color:#fff;
}

.main-app
{
    background-color: #362A2A;
    width: 100%;
    /* transform: translateX(7.5rem); */
    /* width: calc(100vw - 8rem); */
    /* width: 100%; */
    /* display: grid; */
    /* grid-template-areas: ". ovvw ."; */
}


.overview
{
    /* grid-item: "ovvw"; */
    width: 35rem;
    height: 8rem;
    background-color: #b6b6b6;

    display: flex;
    justify-content: space-around;

}
/* .dial-circle
{
    padding: 10px;
} */

.dial-colored-circle
{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;

    background: conic-gradient(from 180deg at 50% 50%, #009FB0 -90deg, #009FB0 90deg, #00C49E 270deg, #009FB0 450deg);
}

.dial-circle
{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #333;

    position: relative;
    /* left: .5rem; */
    left: 0.25rem;
    top: 0.25rem;

    /* top: 6.5rem; */
}

.dial-rect
{
    width: 6.5rem;
    height: 3.25rem;
    background-color: #333;
    color: #fff;


    position: absolute;
    top: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.dial-status 
{
    font-size: 12px;
}